In [2]:
#Import python Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [3]:
#Import my data
dataset=pd.read_csv("data.csv")

In [7]:
#Data exploration
dataset.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [8]:
dataset.tail(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [9]:
dataset.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 660.4+ KB

In [11]:
#Encode categorical variables
dataset = pd.get_dummies(dataset,columns=["gender"])

In [13]:
dataset = pd.get_dummies(dataset,columns=["Partner"])
dataset = pd.get_dummies(dataset,columns=["Dependents"])
dataset = pd.get_dummies(dataset,columns=["PhoneService"])
dataset = pd.get_dummies(dataset,columns=["MultipleLines"])
dataset = pd.get_dummies(dataset,columns=["InternetService"])
dataset = pd.get_dummies(dataset,columns=["OnlineSecurity"])
dataset = pd.get_dummies(dataset,columns=["OnlineBackup"])
dataset = pd.get_dummies(dataset,columns=["StreamingMovies"])
dataset = pd.get_dummies(dataset,columns=["Contract"])
dataset = pd.get_dummies(dataset,columns=["PaperlessBilling"])
dataset = pd.get_dummies(dataset,columns=["PaymentMethod"])
dataset = pd.get_dummies(dataset,columns=["Churn"])

In [15]:
dataset = pd.get_dummies(dataset,columns=["DeviceProtection"])
dataset = pd.get_dummies(dataset,columns=["TechSupport"])
dataset = pd.get_dummies(dataset,columns=["StreamingTV"])

In [51]:
dataset = pd.get_dummies(dataset,columns=["customerID"])

In [52]:
dataset.head(2)

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,customerID_9975-SKRNR,customerID_9978-HYCIN,customerID_9979-RGMZT,customerID_9985-MWVIX,customerID_9986-BONCE,customerID_9987-LUTYD,customerID_9992-RRAMN,customerID_9992-UJOEL,customerID_9993-LHIEB,customerID_9995-HOTOH
0,0,1,29.85,29.85,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,34,56.95,1889.5,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
#Split the data into features(X) 
x = dataset.drop("Churn_Yes", axis=1)
X=x.drop("Churn_No", axis=1)
X1 = X.select_dtypes(include=['object']).columns
X2 = [col for col in X.columns if col not in X1]
X3 = X[X2]
X3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Columns: 7087 entries, SeniorCitizen to customerID_9995-HOTOH
dtypes: float64(1), int64(2), uint8(7084)
memory usage: 47.7 MB

In [84]:
#Split the data into Target(Y)
Y = dataset.drop(X3, axis=1)
Y1 = Y.select_dtypes(include=['object']).columns
Y2 = [col for col in Y.columns if col not in Y1]
Y3 = Y[Y2]
Y.head(1)
Y3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Churn_No   7043 non-null   uint8
 1   Churn_Yes  7043 non-null   uint8
dtypes: uint8(2)
memory usage: 13.8 KB

In [101]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier

In [102]:
#Split data into training and testing data s
X_Train,X_Test,Y_Train,Y_Test = train_test_split(X3,Y3,test_size=0.1,random_state=42)

In [103]:
#Standardize numerical features
scaler = StandardScaler()

In [104]:
X_Train = scaler.fit_transform(X_Train)
X_Test = scaler.fit_transform(X_Test)

In [105]:
#Model Selection and training - RandomForest
# Initialize and train the Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_Train,Y_Train)

RandomForestClassifier(random_state=42)

In [106]:
#Predicting
Y_pred = rf_classifier.predict(X_Test)

In [99]:
#Model Evaluation
accuracy = accuracy_score(Y_Test, Y_pred)
report = classification_report(Y_Test, Y_pred)

/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [100]:
print(f'Accuracy: {accuracy}')
print(f'Classification Report:\n{report}')

Accuracy: 0.7815602836879433
Classification Report:
              precision    recall  f1-score   support

           0       0.81      0.91      0.86       508
           1       0.66      0.45      0.53       197

   micro avg       0.78      0.78      0.78       705
   macro avg       0.74      0.68      0.70       705
weighted avg       0.77      0.78      0.77       705
 samples avg       0.78      0.78      0.78       705